* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: black;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{
  height: 200px;
  width: 200px;
  background-color: rgb(255,255,255);
  border: 1px solid black;
  border-radius: 5px;
}
button{
  margin-top:20px;
  padding:10px 20px;
  font-size:16px;
  cursor:pointer;
  border-radius: 5px;
  background-color: rgb(156, 20, 20);
  color: white;
  border: 1px solid white;
}
button:active{
  transform: scale(0.98);
  background-color: darkslategray;
}
